* {
    background-color: rgb(196, 255, 235);

}

.title {
    font-weight: bold;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-size: 20px;
    color: rgb(0, 0, 57);
}

a {
    color: rgb(183, 183, 0);
}

.recipe {
    font-size: 30px;
    font-family:'Brush Script MT', cursive;
}
