body {
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 50px;
    flex-wrap: wrap;
}

.hero .containter {
    flex-wrap: wrap-reverse
}

.hero .main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0px;
    padding: 0px;
}

.hero .secondary,
.header a {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;
}

.hero img {
    line-height: 200px;
    width: 400px;
    height: 200px;
    background-color: #87898d;
    text-align: center;
    color: white;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

button,
.action-space {
    background-color: #3882F6;
    border-radius: 10px;
    color: #F9FAF8;
    border: none;
    padding: 4px 16px;
}

button {
    font-size: 20px;
}

.info h1 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin-bottom: 0px;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    flex-basis: 150px;
}

.info img {
    width: 150px;
    height: 150px;
    border: #3882F6 solid 3px;
    border-radius: 10px;
}

.quote {
    background-color: #E5E7EB;
    /*padding: 60px 250px;
    align-items: center; */
    display: flex;
    justify-content: center;
}

.quote .container {
    /*
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding-bottom: 75px;
    padding-top: 25px;
    flex-wrap: wrap;
    */

    flex-basis: 600px;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
}

.quote-message {
    /*margin: 0px;
    padding: 0px;
    color: #1F2937;
    font-weight: 200; */

    font-size: 36px;
    font-style: italic;

}

.author {
    align-self: flex-end;
}

.action-area {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.action-space {
    display: flex;
    flex-basis: 650px;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
}

.action {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    flex-wrap: wrap;
    gap: 16px;
}

.action .title {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.action button {
    border: #F9FAF8 solid 3px;
    padding: 4px 16px;
    flex-shrink: 0;
}
